body {
  padding-top: 70px;
}

.nav-row .navigatie{
  padding:10px;
border: 1px solid;
}

.progress-box .barbox {
  padding:10px;
  border: 1px solid;
}
.progress-stats {
  width: 70%;
}

.tabs {
  width: 100%;
  display: inline-block;
}
